// _variables.scss...............Variables.

$colorPrimary: #0f172a;
$colorSecondary: #0284c7;
$colorInfo: #38bdf8;

$colorDanger: #ef4444;
$colorWarning: #f59e0b;
$colorSuccess: #0284c7;

$minWidth: 960px;

$widthSidenav: 280px;
$collapedWidthSidenav: 70px;


/* variables pde adminBienes para los estados de los bienes*/

$colorPendiente: #ffab00;
$colorSinDatos: #00b8d4;
$colorConDatos: #304ffe;
$colorEnviado: #7b1fa2;
$colorObservado: #f44336;
$colorObservadoSup: #ddb6b3;
$colorVerificado: #4caf50;
