<md-toolbar class="app-navbar-toolbar">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button navbar-hamburger" ng-click="vm.toggle()" aria-label="Mostrar/ocultar menú">
            <md-tooltip>Mostrar/ocultar menú</md-tooltip>
            <md-icon>menu</md-icon>
        </md-button>        
        <span flex></span>
        <md-button class="margin-0 md-icon-button btn-fullscreen" ng-click="vm.fullscreen()" aria-label="Pantalla completa" id="btn-fullscreen">
            <md-icon>fullscreen</md-icon>
            <md-icon>fullscreen_exit</md-icon>
            <md-tooltip class="tooltip-fullscreen"><span class="exit">Salir </span>Pantalla completa</md-tooltip>
        </md-button>
        <md-menu>
            <md-button class="margin-0 md-icon-button" aria-label="Más opciones" ng-click="vm.openMenu($mdOpenMenu, $event)">
                <md-tooltip>Más opciones</md-tooltip>
                <md-icon>more_vert</md-icon>
            </md-button>
            <md-menu-content class="navbar-options">
                <md-menu-item>
                    <md-button ng-click="vm.profile()">
                        <md-icon>account_circle</md-icon> Mi cuenta
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="vm.cambiarUsuario()">
                        <md-icon>refresh</md-icon> Cambio de usuario
                    </md-button>
                </md-menu-item>
                <md-menu-item style="width: 200px;">
                    <md-button ng-click="vm.logout()">
                        <md-icon>power_setting_new</md-icon> Salir
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

