<md-dialog ng-cloak style="max-width: 500px; width: 100%;">
    <form ng-submit="answer('save')" name="unidadForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><md-icon>business</md-icon> {{data.id_unidad == null ? "Nueva Unidad" : "Editar Unidad"}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-dialog-content">
            <md-input-container class="md-block">
                <label>Nombre de la Unidad</label>
                <input ng-model="data.nombre" type="text" required>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Abreviación</label>
                <input ng-model="data.abreviacion" type="text" required maxlength="20">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Estado</label>
                <md-select ng-model="data.estado" ng-init="data.estado = data.estado || 'ACTIVO'" required>
                    <md-option value="ACTIVO">ACTIVO</md-option>
                    <md-option value="INACTIVO">INACTIVO</md-option>
                </md-select>
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="unidadForm.$invalid">
                <md-icon>check</md-icon> Guardar
            </md-button>
            <md-button class="md-raised" ng-click="cancel()">
                <md-icon>cancel</md-icon> Cancelar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
