// _footer.scss..................Page footer.

.no-login {
    footer {
        position: fixed;
        bottom: 15px;
        left: 0;
        right: 0;
        text-align: center;
        color: rgba(255, 255, 255, 0.85);
        font-size: 0.8rem;
        z-index: 100;
        margin: 0;

        a {
            color: #4fd1c5;
            text-decoration: none;
            font-weight: 600;
        }
        span {
            padding: 3px 5px;
            background-color: transparent;
        }
    }
}

footer {
    bottom: 0;
    color: #333;
    font-size: 0.75rem;
    margin: 0 20px 5px;
    text-align: right;
    a {
        color: $colorPrimary;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}