<div ng-if="!to.multiple">
    <md-button ng-if="!to.disabled" class="md-raised md-warn" ng-click="vm.elegirPdf($event)">{{to.label}} </md-button>
    <input ng-show="false" type="file" ng-model="fileCache" base-sixty-four-input accept=".pdf"
        on-after-validate="vm.onLoadModel" multiple maxsize="maxPdfSizeAprobacion" onloadstart="vm.onLoadStart">
        <span ng-show="vm.cargando"> 
            <i>Cargando pdf</i>
                <div class="custom-loader">
            </div>
        </span>

    <table class="table table-hover table-striped" ng-if="model[options.key]">
        <thead>
            <tr>
                <th> </th>
                <th> Documento </th>
                <th> Peso </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pdf in model[options.key] track by $index">
                <td class="buttons" layout-gt-sm>
                    <md-icon ng-click="vm.showPdf(pdf.url)" class="ap-cursor-pointer" ng-if="pdf.url">
                        picture_as_pdf
                        <md-tooltip>Ver pdf</md-tooltip>
                    </md-icon>
                    <md-icon class="ap-text-warning ap-cursor-pointer" ng-click="vm.limpiarPdf($index)"
                        ng-if="!to.disabled">delete</md-icon>
                </td>
                <td>{{$index}} {{pdf.filename}}</td>
                <td>{{vm.redondear(pdf.filesize/1024, 2)}} KB</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><b>Total: </b> {{ vm.redondear(vm.getTotalFilesSize() / 1024, 2) }} MB</td>
            </tr>
        </tbody>
    </table>
</div>