<!-- <h1>Datos generales para el ingreso </h1> -->

<ng-form name="ingresoActivosForm">
  <div layout layout-align="start start">
    <md-input-container flex>
      <label>Tipo de ingreso</label>
      <div layout layout-align="end center" style="margin-bottom: 20px;background-color:#fafafa;padding:5px;">
        <md-radio-group layout ng-model="model[options.key].tipoIngreso"
          ng-change="vm.controlSeleccionTipoIngreso(model[options.key].tipoIngreso)">
          <md-radio-button ng-repeat="option in vm.listaTipos" ng-value="{{option.key}}"> 
            {{option.value}} 
          </md-radio-button>
        </md-radio-group>
      </div>

  </div>
  
  <!-- Seccion COMPRA tipoIngreso === 1 -->
  <div ng-if="model[options.key].tipoIngreso === 1">
    <div layout layout-align="start start">
      <md-input-container class="input-search" flex>
        <label>Proveedores</label>
        <md-select ng-model="model[options.key].proveedor" name="seleccionarProveedor" required
          data-md-container-class="select-search">
          <md-select-header class="select-header">
            <div layout layout-align="start start" flex>
              <md-input-container flex>
                <input ng-model="vm.proveedor_buscar" placeholder="Escriba el nombre del proveedor a buscar..."
                  ng-keydown="$event.stopPropagation($event)" ng-keyup="$event.stopPropagation($event)"
                  class="header-searchbox md-text">
              </md-input-container>
              <md-button class="md-fab md-mini md-icon-button md-primary" aria-label="add" ng-click="vm.buscarProveedor()">
                <md-icon>search</md-icon>
                <md-tooltip>Buscar proveedor</md-tooltip>
              </md-button>
            </div>
          </md-select-header>
          <md-optgroup label="proveedores">
            <md-option ng-value="p" ng-repeat="p in vm.proveedores" ng-click="vm.controlSeleccionProveedor(p)">
              <div >
                {{p.nombre}} {{p.nit}}
              </div>
            </md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
      
      <md-input-container flex>
        <input type="text" ng-model="model[options.key].nitProveedor" placeholder="NIT Proveedor" disabled required>
      </md-input-container>
      
    </div>
    <div layout layout-align="start start">
      <md-input-container flex>
        <input type="text" ng-model="model[options.key].numeroFactura" placeholder="Número de factura" required>
      </md-input-container>
      <md-input-container flex>
        <input type="text" ng-model="model[options.key].autorizacionFactura" placeholder="Número de autorización" required>
      </md-input-container>
      <md-input-container flex>
        <label>Fecha factura</label>
        <md-datepicker style="width: 100%!important;" ng-model="model[options.key].fechaFactura" required></md-datepicker>
      </md-input-container>
    </div>
    
    <div layout layout-align="start start">
      <md-input-container flex>
        <input type="text" ng-model="model[options.key].numeroEntrega" placeholder="Número de nota de entrega">
      </md-input-container>
      <md-input-container flex>
        <label>Fecha nota de entrega</label>
        <md-datepicker style="width: 100%!important;" ng-model="model[options.key].fechaEntrega" required></md-datepicker>
      </md-input-container>
    </div>
    
    <div layout layout-align="start start">
      <md-input-container flex>
        <input type="text" ng-model="model[options.key].numeroPreventivo" placeholder="Nro requerimiento / Nro preventivo" required>
      </md-input-container>
      <md-input-container flex>
        <label>Fecha requerimiento / Fecha preventivo</label>
        <md-datepicker style="width: 100%!important;" ng-model="model[options.key].fechaPreventivo" required></md-datepicker>
      </md-input-container>
    </div>
  </div>

  <!-- Seccion DONACION y REPOSICION -->
  <div ng-if="model[options.key].tipoIngreso === 2 || model[options.key].tipoIngreso === 3">

    <div layout layout-align="start start" ng-if="model[options.key].tipoIngreso === 2">
      <md-input-container flex>
        <input type="text" name="donante_activos" ng-model="model[options.key].donante" placeholder="Entidad donante">
      </md-input-container>
    </div>

    <div layout layout-align="start start">
      <md-input-container flex>
    
        <div class="layout" flex>
          <div class="row" flex>
            <md-input-container class="input-search" flex>
              <label>Respaldo</label>
              <md-select ng-model="vm.docSeleccionado" name="select_doc_respaldo" md-on-close="vm.closeSelectDoc()"
                data-md-container-class="select-search" required flex>
                <md-select-header class="select-header" flex>
                  <input ng-model="vm.buscar_doc_activos" placeholder="Buscar ..." class="header-searchbox md-text" ng-keydown="$event.stopPropagation()" flex>
                </md-select-header>
                <md-optgroup label="documentos_respaldo">
                  <md-option ng-value="d" ng-repeat="d in vm.documentos" ng-click="vm.controlSelectDoc(d)">
                    {{d.nombre}}
                  </md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div>
          <div class="row">
            <md-icon class="ap-cursor-pointer md-mini" ng-click="vm.mostrarPdf(model[options.key].respaldo.id_documento)">
              description
            </md-icon>
            
          </div>
        </div>
      </md-input-container>
      <md-input-container flex>
        <input type="text" ng-model="model[options.key].respaldo.fechaMostrar" placeholder="Fecha respaldo" required
          disabled>
      </md-input-container>
    </div>

    <div layout layout-align="start start" ng-if="model[options.key].tipoIngreso === 3">
      <md-autocomplete ng-if="!to.disabled" flex="100" md-no-cache="true"
        md-items="item in vm.consultarActivoBaja(vm.buscar.texto_buscar_baja)" md-search-text="vm.buscar.texto_buscar_baja"
        md-selected-item-change="vm.seleccionarActivoBaja()" md-selected-item="vm.buscar.item_seleccionado_baja"
        md-item-text="item.description" md-min-length="0" ng-disabled="to.disabled"
        placeholder="Escribe el activo con baja a buscar ...">
        <md-item-template>
          <span>{{item.barcode}} - {{item.description}}</span>
        </md-item-template>
        <md-not-found>
          No se encontraron coincidencias para "{{vm.buscar.texto_buscar_baja}}".
        </md-not-found>
      </md-autocomplete>
    </div>
    <div layout layout-align="start start" ng-if="model[options.key].tipoIngreso === 3">
      <md-input-container flex>
        <input type="text" ng-model="model[options.key].activoBaja.description" placeholder="Activo a reponer" required disabled>
      </md-input-container>
    </div>
  </div>

  <div layout layout-align="start start">
    <md-input-container flex>
      <textarea ng-model="model[options.key].observaciones" placeholder="Observaciones"></textarea>
    </md-input-container>
  </div>
  
</ng-form>
<div layout layout-align="start center">
  <md-autocomplete ng-if="!to.disabled" flex="100" md-no-cache="true"
    md-items="item in vm.consultarActivo(vm.buscar.texto_buscar)" md-search-text="vm.buscar.texto_buscar"
    md-selected-item-change="vm.agregarActivo()" md-selected-item="vm.buscar.item_seleccionado"
    md-item-text="item.description" md-min-length="0" ng-disabled="to.disabled"
    placeholder="Escribe el item a buscar ...">
    <md-item-template>
      <span>{{item.barcode}} - {{item.description}}</span>
    </md-item-template>
    <md-not-found>
      No se encontraron coincidencias para "{{vm.buscar.texto_buscar}}".
    </md-not-found>
  </md-autocomplete>
</div>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th ng-if="!to.disabled"> </th>
      <th> Código de barras </th>
      <th> Grupo contable </th>
      <th> Descripción </th>
      <th> Precio unitario </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in model[options.key].activos | filter: vm.filter">
      <td class="buttons" ng-if="!to.disabled" layout-gt-sm>
        <md-button class="md-icon-button" ng-click="vm.eliminarActivo($index)">
          <md-icon>delete</md-icon>
          <md-tooltip>Eliminar fila</md-tooltip>
        </md-button>
      </td>
      <td>{{row.barcode}}</td>
      <td>{{row.cuenta}}</td>
      <td>{{row.description}}</td>
      <td>{{row.precio}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Total</td>
      <td>{{model[options.key].total}}
      </td>
    </tr>
  </tbody>
</table>