<md-dialog aria-label="ConfirmarDocumento" class="formly-dialog formly-column-{{column}}" style="max-width: 400px; width: 100%;">
    <form ng-submit="answer('save')" id="data-form" name="form" novalidate>
        <div class="text-center">
            <h3>Aprobación de adjunto<br>con Ciudadania Digital </h3>
            <span flex></span>
        </div>
            
        <md-dialog-content class="md-dialog-content">
            <div layout layout-padding>
                <h4>Serás enviado al módulo de 
                    <b>Aprobación de documentos de Ciudadanía Digital</b> 
                    para aprobar el documento adjunto seleccionado
                    <br> ¿Deseas continuar?
                </h4>
            </div>
        </md-dialog-content>
    
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised" ng-click="cancel()">
                <md-icon>cancel</md-icon> Cancelar
            </md-button>
            <md-button type="submit" class="md-raised md-primary">
                <md-icon>check</md-icon> Sí, continuar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>