// _variables.scss...............Variables.

$colorPrimary: #616161;
$colorSecondary: #e64a19;
$colorInfo: #18ffff;

$colorDanger: #d32f2f;
$colorWarning: #e64a19;
$colorSuccess: #43916D;

$minWidth: 960px;

$widthSidenav: 280px;
$collapedWidthSidenav: 70px;


/* variables pde adminBienes para los estados de los bienes*/

$colorPendiente: #ffab00;
$colorSinDatos: #00b8d4;
$colorConDatos: #304ffe;
$colorEnviado: #7b1fa2;
$colorObservado: #f44336;
$colorObservadoSup: #ddb6b3;
$colorVerificado: #4caf50;
