/* global moment:false */
(function() {
  'use strict';

  angular
    .module('app')
    .constant('moment', moment)
    .constant('appName', 'app')
    .constant('PageNoLogin', ['login'])
    .constant('authUrl', 'BACKEND_URL/autenticar') // Auth
    .constant('restUrl', 'BACKEND_URL/api/v1/' ) // Rest Api Backend
    .constant('backUrl', 'BACKEND_URL/') // Backend
    .constant('reCaptchaSiteKey','token_sitekey')
    .constant('maxPdfSizeAprobacion', 20971520) // Tamaño máximo del pdf para aprobaciones con ciudadania digital [bytes] 20971520 bytes=20MB
    .constant('maxSumPdfsSizeAprobacion', 31457280) // Tamaño máximo del total de archivos pdf para aprobaciones con ciudadania digital por documento [bytes] 31457280 = 30MB
})();
