.filaActiva{
  background-color: lighten($colorVerificado, 43%)
}
.filaInactiva{
  background-color: lighten($colorPrimary, 45%)
}
.botonActivado{
  color: $colorSuccess;
}
.botonDesactivado{
  color: $colorDanger;
}
.action-buttons {
}
.action-buttons span {
  align-items: flex-start !important;
}
.action-buttons span button {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}