<md-card>
  <md-table-container>
    <table md-table ng-model="selected" md-progress="promise">
      <thead md-head>
        <tr md-row>
          <th md-column ng-if=" vm.buttons.length > 0">Acciones</th>
          <th ng-repeat="field in vm.fields" md-column >
            <span>{{field.field_name}}</span>
          </th>

        </tr>
      </thead>

      <tbody md-body >
        <!-- <tr md-row md-select="item" ng-repeat="item in vm.items" class="testClass" md-success> -->
        <tr md-row md-select="item" ng-repeat="item in vm.items" class="{{(item.estado)?(item.estado=='ACTIVO'?'filaActiva':'filaInactiva'):''}}">
          <td md-cell class="action-buttons" ng-if="vm.buttons.length > 0" >
            <span ng-repeat="button in vm.buttons" flex>
              <md-button
              class="md-icon-button"
              aria-label="button.tooltip"
              ng-click="vm.buttonEvent($event, item, button.onclick, $parent.$parent.$index)"
              ng-if="!button.condition"
              
              >
                <md-tooltip>{{button.tooltip}}</md-tooltip>
                <md-icon>{{button.icon}}d</md-icon>
              </md-button>
              <md-button
              class="md-icon-button "
              aria-label="button.tooltip"
              ng-click="vm.buttonEvent($event, item, button.onclick, $parent.$parent.$index)"
              ng-if="button.condition && !button.condition.type && item[button.condition.field] == button.condition.is"
              >
                <md-tooltip>{{button.tooltip}}</md-tooltip>
                <md-icon  class="{{(button.condition && button.condition.class)? button.condition.class:''}}">{{button.icon}}d</md-icon>
              </md-button>
              <md-button
              class="md-icon-button "
              aria-label="button.tooltip"
              ng-click="vm.buttonEvent($event, item, button.onclick, $parent.$parent.$index)"
              ng-if="button.condition && button.condition.type && button.condition.type == 'defaultUp' && $parent.$parent.$index > 0 && $parent.$parent.$index <= vm.items.length"
              > 
                <md-tooltip>{{button.tooltip}}</md-tooltip>
                <md-icon  class="{{(button.condition && button.condition.class)? button.condition.class:''}}">{{button.icon}}</md-icon>
              </md-button>
              <md-button
              class="md-icon-button "
              aria-label="button.tooltip"
              ng-click="vm.buttonEvent($event, item, button.onclick, $parent.$parent.$index)"
              ng-if="button.condition && button.condition.type && button.condition.type == 'defaultDown' && $parent.$parent.$index >= 0 && $parent.$parent.$index < vm.items.length-1"
              > 
                <md-tooltip>{{button.tooltip}}</md-tooltip>
                <md-icon  class="{{(button.condition && button.condition.class)? button.condition.class:''}}">{{button.icon}}</md-icon>
              </md-button>
            </span>
          </td>

          <td md-cell ng-repeat="(key, value) in vm.fields" >
            <div>{{item[value.field_value]}}</div>
          </td>
        </tr>

      </tbody>

    </table>
  </md-table-container>
</md-card>